/* young-serif-regular - latin */
@font-face {
  font-family: 'Young Serif';
  src: url('assets/fonts/young-serif-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* outfit-regular - latin */
@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

/* outfit-600 - latin */
@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-weight: 600;
  font-style: normal;
  font-display: swap; 
}

/* outfit-700 - latin */
@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*--CSS RESET--*/

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture,
video {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}
 

:root {
  /* == Color Pallette == */
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-rose-800: hsl(332, 51%, 32%);
  
  /* == Fonts ==*/
  --ff-heading: 'Young Serif', serif;
  --ff-body: 'Outfit', sans-serif;

  /* == Weights ==*/
  --fw-young-serif: 400;

  /*Outfit weights*/
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}


body {
  height: fit-content;
  min-height: 100vh;
  min-height: 100svh;
  line-height: 1.5;
  background-color: var(--color-slate-900);
  font-family: var(--ff-body);
  color: var(--color-stone-600);
  font-size: 1rem;
}

.main__illustration {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main__illustration img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 100%;
  max-width: 50rem;
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article {
  padding: 2rem;
}

main h1, main h2 {
  font-family: var(--ff-heading);
  line-height: 1.1;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  text-wrap: initial;
  letter-spacing: 0.1rem;
}

.main__heading {
  color: var(--color-stone-900);
}

.main__section--heading {
  color: var(--color-brown-800);
}

.main__article--container {
  width: 98%;
  background-color: var(--color-rose-50);
  margin: 1rem 0.1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  line-height: 1.1;
}

.main__article--heading {
  color: var(--color-rose-800);
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  letter-spacing: 0rem;
}

.main__section {
  margin-block-end: clamp(1rem, 1vw, 1.2rem)
}

ol, ul {
  padding-left: clamp(1rem, 1vw, 1.5rem);
}

ol li, ul li {
  padding-left: clamp(0.8rem, 1vw, 1rem);
}

ol li::marker, ul li::marker {
  color: var(--color-brown-800);
  font-size: large;
  font-weight: bolder;
}

hr {
  height: 0.0625rem;
  background-color: var(--color-stone-150);
  border: none;
}

table {
  border-collapse: collapse;
  width: 96%;
  margin: 0.3rem;
  color: var(--color-stone-600);
  font-weight: var(--fw-regular);
}

tr, td {
  border-bottom: 0.0625rem solid var(--color-stone-150);
  padding: 0.5rem 1.5rem;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: var(--color-brown-800);
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  color: var(--color-rose-50);
}

.attribution a {
  color: var(--color-stone-100);
}

@media screen and (min-width: 48rem) {
  body {
    background-color: var(--color-stone-100);
  }

  main {
    width: 40%;
    min-width: 44rem;
    height: auto;
    background-color: var(--color-white);
    padding: 2rem;
    margin: 3rem auto;
    border-radius: 1.5rem;
  }

 .main__illustration {
    width: 100%;
    min-height: 40vh;
  }

  .main__illustration img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    object-fit: contain;
  }

  article {
    padding: 0;
  }


}